html {
    font-family: '__Lato_a9a78d', '__Lato_Fallback_a9a78d', arial, '__Montserrat_183bdf', '__Montserrat_Fallback_183bdf', arial
}
.gduZIE {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*!sc*/
@media (min-width:576px) {
    .gduZIE {
        max-width: 540px;
    }
}

/*!sc*/
@media (min-width:768px) {
    .gduZIE {
        max-width: 720px;
    }
}

/*!sc*/
@media (min-width:992px) {
    .gduZIE {
        max-width: 960px;
    }
}

/*!sc*/
@media (min-width:1200px) {
    .gduZIE {
        max-width: 1140px;
    }
}

/*!sc*/
data-styled.g1[id="sc-aXZVg"] {
    content: "gduZIE,"
}

/*!sc*/
.gABASg {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

/*!sc*/
.eWGeoZ {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/*!sc*/
data-styled.g2[id="sc-gEvEer"] {
    content: "gABASg,eWGeoZ,"
}

/*!sc*/
.kiikrH {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*!sc*/
@media (max-width:574px) {
    .kiikrH {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*!sc*/
@media (min-width:768px) {
    .kiikrH {
        -ms-flex: 0 0 75%;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

/*!sc*/
.fMzXLa {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*!sc*/
@media (min-width:768px) {
    .fMzXLa {
        -ms-flex: 0 0 66.66666666666667%;
        -webkit-flex: 0 0 66.66666666666667%;
        -ms-flex: 0 0 66.66666666666667%;
        flex: 0 0 66.66666666666667%;
        max-width: 66.66666666666667%;
    }
}

/*!sc*/
.dAPKut {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*!sc*/
@media (min-width:768px) {
    .dAPKut {
        -ms-flex: 0 0 33.333333333333336%;
        -webkit-flex: 0 0 33.333333333333336%;
        -ms-flex: 0 0 33.333333333333336%;
        flex: 0 0 33.333333333333336%;
        max-width: 33.333333333333336%;
    }
}

/*!sc*/
.cMzfXk {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*!sc*/
@media (min-width:768px) {
    .cMzfXk {
        -ms-flex: 0 0 58.333333333333336%;
        -webkit-flex: 0 0 58.333333333333336%;
        -ms-flex: 0 0 58.333333333333336%;
        flex: 0 0 58.333333333333336%;
        max-width: 58.333333333333336%;
    }
}

/*!sc*/
.fNohqH {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*!sc*/
@media (min-width:768px) {
    .fNohqH {
        -ms-flex: 0 0 41.66666666666667%;
        -webkit-flex: 0 0 41.66666666666667%;
        -ms-flex: 0 0 41.66666666666667%;
        flex: 0 0 41.66666666666667%;
        max-width: 41.66666666666667%;
    }
}

/*!sc*/
.ndhfJ {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*!sc*/
.khhZFc {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*!sc*/
@media (min-width:768px) {
    .khhZFc {
        -ms-flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/*!sc*/
data-styled.g3[id="sc-eqUAAy"] {
    content: "kiikrH,fMzXLa,dAPKut,cMzfXk,fNohqH,ndhfJ,khhZFc,"
}

/*!sc*/
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

/*!sc*/
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

/*!sc*/
data-styled.g4[id="sc-global-czSCUT1"] {
    content: "sc-global-czSCUT1,"
}

/*!sc*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*!sc*/
.gbmAQX {
    font-weight: 400;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
    font-family: '__Lato_a9a78d', '__Lato_Fallback_a9a78d', arial, Arial, sans-serif;
}

/*!sc*/
.gbmAQX * {
    color: #fff;
}

/*!sc*/
@media (min-width:768px) {
    .gbmAQX {
        font-size: 14px;
        line-height: 21px;
    }

    .gbmAQX * {
        font-size: 14px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .gbmAQX {
        font-size: 14px;
        line-height: 21px;
    }

    .gbmAQX * {
        font-size: 14px;
    }
}

/*!sc*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*!sc*/
.gciPqL {
    font-weight: 400;
    color: #fff;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-transform: none;
    font-family: '__Lato_a9a78d', '__Lato_Fallback_a9a78d', arial, Arial, sans-serif;
}

/*!sc*/
.gciPqL * {
    color: #fff;
}

/*!sc*/
@media (min-width:768px) {
    .gciPqL {
        font-size: 14px;
        line-height: 21px;
    }

    .gciPqL * {
        font-size: 14px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .gciPqL {
        font-size: 14px;
        line-height: 21px;
    }

    .gciPqL * {
        font-size: 14px;
    }
}

/*!sc*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*!sc*/
.lnmrei {
    font-weight: 700;
    color: #3a3a3a;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
    font-family: lato, Arial, sans-serif;
}

/*!sc*/
.lnmrei * {
    color: #3a3a3a;
}

/*!sc*/
@media (min-width:768px) {
    .lnmrei {
        font-size: 16px;
        line-height: 24px;
    }

    .lnmrei * {
        font-size: 16px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .lnmrei {
        font-size: 16px;
        line-height: 24px;
    }

    .lnmrei * {
        font-size: 16px;
    }
}

/*!sc*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*!sc*/
.cQZONc {
    font-weight: 400;
    color: #3a3a3a;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
    font-family: lato, Arial, sans-serif;
}

/*!sc*/
.cQZONc * {
    color: #3a3a3a;
}

/*!sc*/
@media (min-width:768px) {
    .cQZONc {
        font-size: 16px;
        line-height: 24px;
    }

    .cQZONc * {
        font-size: 16px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .cQZONc {
        font-size: 14px;
        line-height: 21px;
    }

    .cQZONc * {
        font-size: 14px;
    }
}

/*!sc*/
.gQjVCB {
    font-weight: 400;
    color: #3a3a3a;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
}

/*!sc*/
.gQjVCB * {
    color: #3a3a3a;
}

/*!sc*/
@media (min-width:768px) {
    .gQjVCB {
        font-size: 14px;
        line-height: 21px;
    }

    .gQjVCB * {
        font-size: 14px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .gQjVCB {
        font-size: 14px;
        line-height: 21px;
    }

    .gQjVCB * {
        font-size: 14px;
    }
}

/*!sc*/
.gGoZru {
    font-weight: 700;
    color: #3a3a3a;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
}

/*!sc*/
.gGoZru * {
    color: #3a3a3a;
}

/*!sc*/
@media (min-width:768px) {
    .gGoZru {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .gGoZru * {
        text-align: center;
        font-size: 12px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .gGoZru {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .gGoZru * {
        text-align: center;
        font-size: 12px;
    }
}

/*!sc*/
.iCvchV {
    font-weight: 400;
    color: #5a5a5a;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
}

/*!sc*/
.iCvchV * {
    color: #5a5a5a;
}

/*!sc*/
@media (min-width:768px) {
    .iCvchV {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .iCvchV * {
        text-align: center;
        font-size: 12px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .iCvchV {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .iCvchV * {
        text-align: center;
        font-size: 12px;
    }
}

/*!sc*/
.dCJibh {
    font-weight: 400;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
}

/*!sc*/
.dCJibh * {
    color: #fff;
}

/*!sc*/
@media (min-width:768px) {
    .dCJibh {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }

    .dCJibh * {
        text-align: center;
        font-size: 14px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .dCJibh {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }

    .dCJibh * {
        text-align: center;
        font-size: 14px;
    }
}

/*!sc*/
data-styled.g5[id="sc-fqkvVR"] {
    content: "gbmAQX,gciPqL,lnmrei,cQZONc,gQjVCB,gGoZru,iCvchV,dCJibh,"
}

/*!sc*/
.cHFXTj {
    background-color: #282828;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
@media (min-width:768px) {
    .cHFXTj {
        padding: 12px 16px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .cHFXTj {
        padding: 12px 16px;
    }
}

/*!sc*/
.fnjbEW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*!sc*/
@media (min-width:768px) {
    .fnjbEW {
        padding: 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .fnjbEW {
        padding: 0px;
    }
}

/*!sc*/
.ceZluu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
@media (min-width:768px) {
    .ceZluu {
        padding: 0px 8px 0px 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .ceZluu {
        padding: 0px 8px 0px 0px;
    }
}

/*!sc*/
.OUGUz {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
@media (min-width:768px) {
    .OUGUz {
        padding: 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .OUGUz {
        padding: 0px;
    }
}

/*!sc*/
.FJkC {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
@media (min-width:768px) {
    .FJkC {
        padding: 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .FJkC {
        padding: 0px;
    }
}

/*!sc*/
@media (min-width:768px) {
    .cexxJd {
        padding: 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .cexxJd {
        padding: 0px;
    }
}

/*!sc*/
@media (min-width:768px) {
    .gxCLXl {
        padding: 0px 0px 8px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .gxCLXl {
        padding: 0px 0px 8px;
    }
}

/*!sc*/
@media (min-width:768px) {
    .fzpxwN {
        padding: 8px 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .fzpxwN {
        padding: 8px 0px;
    }
}

/*!sc*/
@media (min-width:768px) {
    .kyrHmp {
        padding: 0px 0px 0px 8px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .kyrHmp {
        padding: 0px 0px 0px 8px;
    }
}

/*!sc*/
@media (min-width:768px) {
    .iFsxtd {
        padding: 0px 0px 16px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .iFsxtd {
        padding: 0px 0px 16px;
    }
}

/*!sc*/
.feGnbq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
@media (min-width:768px) {
    .feGnbq {
        padding: 16px 8px 16px 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .feGnbq {
        padding: 16px 8px 16px 0px;
    }
}

/*!sc*/
.cvxspq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
@media (min-width:768px) {
    .cvxspq {
        padding: 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .cvxspq {
        padding: 0px;
    }
}

/*!sc*/
.eyQLRP {
    background-color: #24ca68;
    border-radius: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
@media (min-width:768px) {
    .eyQLRP {
        padding: 16px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .eyQLRP {
        padding: 16px;
    }
}

/*!sc*/
.brzOm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
@media (min-width:768px) {
    .brzOm {
        padding: 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .brzOm {
        padding: 0px;
    }
}

/*!sc*/
@media (min-width:768px) {
    .hXIZpt {
        padding: 4px 0px 0px;
    }
}

/*!sc*/
@media (max-width:767px) {
    .hXIZpt {
        padding: 4px 0px 0px;
    }
}

/*!sc*/
data-styled.g12[id="sc-jXbUNg"] {
    content: "cHFXTj,fnjbEW,ceZluu,OUGUz,FJkC,cexxJd,gxCLXl,fzpxwN,kyrHmp,iFsxtd,feGnbq,cvxspq,eyQLRP,brzOm,hXIZpt,"
}

/*!sc*/
.fOrdEp {
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    color: #282828;
    line-height: 24px;
    font-size: 16px;
    max-height: 48px;
    padding: 12px 16px;
    width: 100%;
    outline-style: none;
}

/*!sc*/
.fOrdEp::-webkit-input-placeholder {
    color: #8a8a8a;
}

/*!sc*/
.fOrdEp::-moz-placeholder {
    color: #8a8a8a;
}

/*!sc*/
.fOrdEp:-ms-input-placeholder {
    color: #8a8a8a;
}

/*!sc*/
.fOrdEp::placeholder {
    color: #8a8a8a;
}

/*!sc*/
.fOrdEp:focus-visible,
.fOrdEp:focus {
    box-shadow: 0 0 4px rgba(90, 90, 90, 0.5);
    border-color: #5a5a5a;
}

/*!sc*/
.fOrdEp:disabled {
    background-color: #f1f0f0;
    border-color: #b9b9b9;
    color: #b9b9b9;
}

/*!sc*/
data-styled.g13[id="sc-dhKdcB"] {
    content: "fOrdEp,"
}

/*!sc*/
.iJvBoB {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/*!sc*/
data-styled.g14[id="sc-kpDqfm"] {
    content: "iJvBoB,"
}

/*!sc*/
.eRRIWe {
    position: absolute;
    width: 0;
}

/*!sc*/
.eRRIWe:focus {
    box-shadow: none;
}

/*!sc*/
data-styled.g15[id="sc-dAlyuH"] {
    content: "eRRIWe,"
}

/*!sc*/
.elPIIV {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #24ca68;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}

/*!sc*/
.elPIIV img {
    width: 12px;
}

/*!sc*/
data-styled.g16[id="sc-jlZhew"] {
    content: "elPIIV,"
}

/*!sc*/
.aBRra {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

/*!sc*/
.aBRra span {
    font-size: 16px;
    line-height: 24px;
    color: #282828;
    margin-left: 8px;
}

/*!sc*/
@media (max-width:767px) {
    .aBRra span {
        font-size: 14px;
        line-height: 21px;
    }
}

/*!sc*/
data-styled.g17[id="sc-cwHptR"] {
    content: "aBRra,"
}

/*!sc*/
.bhgeRo {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #24ca68;
    border: 1px solid #24ca68;
    color: #24ca68;
    background-color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 21px;
}

/*!sc*/
.bhgeRo svg {
    margin-left: 12px;
    fill: currentColor;
}

/*!sc*/
.bhgeRo:hover {
    background-color: #009d4e;
    color: #fff;
    border: 1px solid transparent;
}

/*!sc*/
.bhgeRo:hover>* {
    color: #fff;
}

/*!sc*/
.bhgeRo:active {
    background-color: #007a48;
}

/*!sc*/
.imItrH {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #24ca68;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 21px;
}

/*!sc*/
.imItrH svg {
    margin-left: 12px;
    fill: currentColor;
}

/*!sc*/
.imItrH:hover {
    background-color: #009d4e;
    color: #fff;
    border: 1px solid transparent;
}

/*!sc*/
.imItrH:hover>* {
    color: #fff;
}

/*!sc*/
.imItrH:active {
    background-color: #007a48;
}

/*!sc*/
data-styled.g21[id="sc-eDPEul"] {
    content: "bhgeRo,imItrH,"
}

/*!sc*/
.gcZhhu {
    margin-right: 0;
}

/*!sc*/
.gcZhhu button {
    padding: 8px;
}

/*!sc*/
.gcZhhu button>div:first-child {
    border-radius: 7px;
    height: 13px;
    width: 13px;
    margin-right: 5px;
    border: 1px solid #24ca68;
}

/*!sc*/
.gcZhhu button:hover>div:first-child {
    border-color: currentColor;
}

/*!sc*/
.gcZhhu button:hover>div:first-child const VariantColorsHover: {
    [key: string]:string;
}

/*!sc*/
.gcZhhu button:hover>div:first-child= {
    defaultKonta: colors.blue500, dark:colors.gray500, danger:colors.red400, info:colors.green400, support:colors.blue50, vakinha:colors.green500, promo:colors.yellow400, ;
}

/*!sc*/
.hQNehC {
    margin-right: 0;
}

/*!sc*/
.hQNehC button {
    padding: 8px;
}

/*!sc*/
.hQNehC button>div:first-child {
    border-radius: 7px;
    height: 13px;
    width: 13px;
    margin-right: 5px;
    outline: 1px solid #fff;
    border: 3.5px solid #24ca68;
    background-color: #fff;
}

/*!sc*/
.hQNehC button:hover>div:first-child {
    border-color: #009d4e;
}

/*!sc*/
.hQNehC button:hover>div:first-child const VariantColorsHover: {
    [key: string]:string;
}

/*!sc*/
.hQNehC button:hover>div:first-child= {
    defaultKonta: colors.blue500, dark:colors.gray500, danger:colors.red400, info:colors.green400, support:colors.blue50, vakinha:colors.green500, promo:colors.yellow400, ;
}

/*!sc*/
data-styled.g35[id="sc-koXPp"] {
    content: "gcZhhu,hQNehC,"
}

/*!sc*/
.gUaKey input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/*!sc*/
data-styled.g37[id="sc-iHGNWf"] {
    content: "gUaKey,"
}

/*!sc*/
.iItpXG {
    background-color: #f1f0f0;
    border: 1px solid #b9b9b9;
    color: #282828;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px 0 0 8px;
    border-right: none;
}

/*!sc*/
data-styled.g38[id="sc-dtBdUo"] {
    content: "iItpXG,"
}

/*!sc*/
.krvMay {
    color: #282828;
    font-weight: bold;
    font-size: 16px;
}

/*!sc*/
data-styled.g39[id="sc-kOHTFB"] {
    content: "krvMay,"
}

/*!sc*/
.cmUwUd {
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*!sc*/
.iYYpFs {
    box-sizing: border-box;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*!sc*/
.kHKKXJ {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: unset;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.bZGRjQ {
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: unset;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*!sc*/
.cnlYgZ {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: unset;
}

/*!sc*/
.fXDzvA {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: unset;
}

/*!sc*/
.boEwDQ {
    box-sizing: border-box;
    padding-top: unset;
    padding-bottom: 15px;
}

/*!sc*/
data-styled.g46[id="sc-jxOSlx"] {
    content: "cmUwUd,iYYpFs,kHKKXJ,bZGRjQ,cnlYgZ,fXDzvA,boEwDQ,"
}

/*!sc*/
.hqBikH {
    stroke: #fff;
    fill: #fff;
    width: 30px;
    height: 30px;
}

/*!sc*/
data-styled.g65[id="sc-klVQfs"] {
    content: "hqBikH,"
}

/*!sc*/
@media (min-width:992px) {
    .cArMPw {
        display: none;
    }
}

/*!sc*/
@media (max-width:991px) {
    .fQnJLd {
        display: none;
    }
}

/*!sc*/
data-styled.g106[id="sc-kbousE"] {
    content: "cArMPw,fQnJLd,"
}

/*!sc*/
.lfwJgj {
    word-wrap: break-word;
    overflow: auto;
    width: 100%;
    text-align: center;
}

/*!sc*/
.lfwJgj strong {
    font-weight: bold;
}

/*!sc*/
.lfwJgj.lfwJgj,
.lfwJgj strong {
    color: #888888;
}

/*!sc*/
.lfwJgj,
.lfwJgj * {
    font-size: 20px;
    line-height: 24px;
}

/*!sc*/
.bxldzp {
    word-wrap: break-word;
    overflow: auto;
    width: 100%;
    text-align: center;
}

/*!sc*/
.bxldzp strong {
    font-weight: bold;
}

/*!sc*/
.bxldzp.bxldzp,
.bxldzp strong {
    color: #404040;
}

/*!sc*/
.bxldzp.bxldzp,
.bxldzp * {
    font-size: 12px;
    line-height: 16px;
}

/*!sc*/
.dFPgyl {
    word-wrap: break-word;
    overflow: auto;
    width: 100%;
    text-align: left;
}

/*!sc*/
.dFPgyl strong {
    font-weight: bold;
}

/*!sc*/
.dFPgyl.dFPgyl,
.dFPgyl strong {
    color: #404040;
}

/*!sc*/
.dFPgyl.dFPgyl,
.dFPgyl * {
    font-size: 14px;
    line-height: 18px;
}

/*!sc*/
.jhlpZp {
    word-wrap: break-word;
    overflow: auto;
    width: 100%;
    text-align: center;
}

/*!sc*/
.jhlpZp strong {
    font-weight: bold;
}

/*!sc*/
.jhlpZp.jhlpZp,
.jhlpZp strong {
    color: #404040;
}

/*!sc*/
.jhlpZp.jhlpZp,
.jhlpZp * {
    font-size: 14px;
    line-height: 18px;
}

/*!sc*/
data-styled.g108[id="sc-dBmzty"] {
    content: "lfwJgj,bxldzp,dFPgyl,jhlpZp,"
}

/*!sc*/
.jMZdZK {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 40px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    background-color: #24CA68;
    border: 1px solid #24CA68;
    font-size: 16px;
    padding: 8px 12px;
}

/*!sc*/
.jMZdZK:hover {
    background-color: #009D4E;
    border: 1px solid #009D4E;
}

/*!sc*/
.jMZdZK:hover>div {
    border-color: #009D4E;
}

/*!sc*/
.jMZdZK:disabled {
    border: 1px solid #e3e3e3;
    cursor: not-allowed;
    background-color: #fff;
    color: #e3e3e3;
}

/*!sc*/
.jMZdZK:disabled .spinner-path {
    stroke: #e3e3e3;
}

/*!sc*/
data-styled.g112[id="sc-ejfMa-d"] {
    content: "jMZdZK,"
}

/*!sc*/
.hOwuvY {
    font-weight: bold;
    width: 100%;
    color: #888888;
    text-transform: none;
    font-size: 30px;
    text-align: center;
}

/*!sc*/
.hOwuvY strong {
    font-size: inherit;
    font-weight: inherit;
}

/*!sc*/
.hOwuvY {
    margin: 0;
}

/*!sc*/
data-styled.g120[id="sc-gdyeKB"] {
    content: "hOwuvY,"
}

/*!sc*/
.iYDLPH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 80px;
    border-bottom: 2px solid #f1f0f0;
}

/*!sc*/
data-styled.g176[id="sc-isRoRg"] {
    content: "iYDLPH,"
}

/*!sc*/
.jlAeph {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 90px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #f1f0f0;
    background-color: #fff;
}

/*!sc*/
data-styled.g177[id="sc-satoz"] {
    content: "jlAeph,"
}

/*!sc*/
.frNCVD {
    min-height: 80px;
    width: 100%;
}

/*!sc*/
data-styled.g180[id="sc-jOnpCo"] {
    content: "frNCVD,"
}

/*!sc*/
.gDSxAq {
    text-align: right;
}

/*!sc*/
.eZDBHp {
    text-align: left;
}

/*!sc*/
data-styled.g188[id="sc-fAGzit"] {
    content: "gDSxAq,eZDBHp,"
}

/*!sc*/
.eyItSL {
    cursor: pointer;
    font-size: 12px;
    color: #404040;
}

/*!sc*/
.gYmKpq {
    cursor: pointer;
    font-size: 12px;
    color: #1492E6;
}

/*!sc*/
data-styled.g189[id="sc-bkSUFG"] {
    content: "eyItSL,gYmKpq,"
}

/*!sc*/
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/*!sc*/
body {
    margin: 0;
}

/*!sc*/
main {
    display: block;
}

/*!sc*/
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/*!sc*/
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/*!sc*/
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

/*!sc*/
a {
    background-color: transparent;
}

/*!sc*/
abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

/*!sc*/
b,
strong {
    font-weight: bolder;
}

/*!sc*/
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/*!sc*/
small {
    font-size: 80%;
}

/*!sc*/
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

/*!sc*/
sub {
    bottom: -0.25em;
}

/*!sc*/
sup {
    top: -0.5em;
}

/*!sc*/
img {
    border-style: none;
}

/*!sc*/
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/*!sc*/
button,
input {
    overflow: visible;
}

/*!sc*/
button,
select {
    text-transform: none;
}

/*!sc*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/*!sc*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/*!sc*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/*!sc*/
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/*!sc*/
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/*!sc*/
progress {
    vertical-align: baseline;
}

/*!sc*/
textarea {
    overflow: auto;
}

/*!sc*/
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/*!sc*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/*!sc*/
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

/*!sc*/
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*!sc*/
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/*!sc*/
details {
    display: block;
}

/*!sc*/
summary {
    display: list-item;
}

/*!sc*/
template {
    display: none;
}

/*!sc*/
[hidden] {
    display: none;
}

/*!sc*/
html {
    display: block;
}

/*!sc*/
body {
    margin: 0;
    background-color: #fff;
}

/*!sc*/
body>div:first-child {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #888889;
}

/*!sc*/
* {
    color: #404040;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*!sc*/
data-styled.g205[id="sc-global-kAiXo1"] {
    content: "sc-global-kAiXo1,"
}

/*!sc*/
.bEPYRJ * {
    fill: #24ca68;
}

/*!sc*/
data-styled.g206[id="sc-hBtRBD"] {
    content: "bEPYRJ,"
}

/*!sc*/
.gOwsin {
    cursor: pointer;
}

/*!sc*/
data-styled.g207[id="sc-hYmls"] {
    content: "gOwsin,"
}

/*!sc*/
.eYLHKx {
    cursor: pointer;
}

/*!sc*/
data-styled.g429[id="sc-dNckAz"] {
    content: "eYLHKx,"
}

/*!sc*/
.gkNvQE {
    height: 25px;
    margin-right: 5px;
}

/*!sc*/
data-styled.g430[id="sc-SSKRe"] {
    content: "gkNvQE,"
}

/*!sc*/
.cRSeFk {
    height: 25px;
    width: 35px;
}

/*!sc*/
data-styled.g431[id="sc-fSGIWV"] {
    content: "cRSeFk,"
}

/*!sc*/
.fbkMAy {
    margin-top: 10px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 28px;
}

/*!sc*/
data-styled.g432[id="sc-cYxjnA"] {
    content: "fbkMAy,"
}

/*!sc*/
.iSSYul {
    position: relative;
}

/*!sc*/
data-styled.g433[id="sc-fDinKg"] {
    content: "iSSYul,"
}

/*!sc*/
.hsgGLA {
    overflow: hidden;
    border-radius: 15px;
    height: 5px;
    background: #F1F0F0;
    display: inline-block;
    width: 100%;
}

/*!sc*/
data-styled.g434[id="sc-cGNDeh"] {
    content: "hsgGLA,"
}

/*!sc*/
.cVNxFb {
    overflow: hidden;
    background: #24CA68;
    height: 100%;
    border-radius: 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0%;
}

/*!sc*/
data-styled.g435[id="sc-ksCcjW"] {
    content: "cVNxFb,"
}

/*!sc*/
.bmbmUN {
    position: absolute;
    left: 15%;
    top: 5px;
    z-index: 2;
    background-color: #F1F0F0;
    height: 15px;
    width: 15px;
    border: 4px solid #F1F0F0;
    background-color: #fff;
    border-radius: 50%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-color: #F1F0F0;
}

/*!sc*/
.hvxxTK {
    position: absolute;
    left: 65%;
    top: 5px;
    z-index: 2;
    background-color: #F1F0F0;
    height: 15px;
    width: 15px;
    border: 4px solid #F1F0F0;
    background-color: #fff;
    border-radius: 50%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-color: #F1F0F0;
}

/*!sc*/
.fCIwug {
    position: absolute;
    left: 85%;
    top: 5px;
    z-index: 2;
    background-color: #F1F0F0;
    height: 15px;
    width: 15px;
    border: 4px solid #F1F0F0;
    background-color: #fff;
    border-radius: 50%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-color: #F1F0F0;
}

/*!sc*/
data-styled.g436[id="sc-hwhrDX"] {
    content: "bmbmUN,hvxxTK,fCIwug,"
}

/*!sc*/
.fJQZra {
    margin-top: 5px;
}

/*!sc*/
data-styled.g437[id="sc-CCtys"] {
    content: "fJQZra,"
}

/*!sc*/
.jIRIKX {
    position: relative;
    height: 50px;
}

/*!sc*/
data-styled.g438[id="sc-iVDsrp"] {
    content: "jIRIKX,"
}

/*!sc*/
.bgEjVq {
    position: absolute;
    left: 8%;
    top: 5px;
    z-index: 2;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
}

/*!sc*/
@media (min-width:768px) {
    .bgEjVq {
        width: 120px;
    }
}

/*!sc*/
.doVmEb {
    position: absolute;
    left: 58%;
    top: 5px;
    z-index: 2;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
}

/*!sc*/
@media (min-width:768px) {
    .doVmEb {
        width: 120px;
    }
}

/*!sc*/
.doVmEd {
    position: absolute;
    left: 78%;
    top: 5px;
    z-index: 2;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
}

/*!sc*/
@media (min-width:768px) {
    .doVmEd {
        width: 120px;
    }
}

/*!sc*/
data-styled.g439[id="sc-frWhYi"] {
    content: "bgEjVq,doVmEb,doVmEd,"
}

/*!sc*/
.bdGIFb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}

/*!sc*/
.bdGIFb div:last-child {
    width: 250px;
}

/*!sc*/
data-styled.g441[id="sc-hxAGuE"] {
    content: "bdGIFb,"
}

/*!sc*/
.gUbgeq.gUbgeq {
    margin-top: 15px;
    margin-bottom: 75px;
}

/*!sc*/
data-styled.g442[id="sc-eBfVOF"] {
    content: "gUbgeq,"
}

/*!sc*/
.jcvfum {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 7.5px 0;
}

/*!sc*/
.jcvfum> :not(:last-child) {
    margin-right: 5px;
}

/*!sc*/
data-styled.g443[id="sc-eEbqID"] {
    content: "jcvfum,"
}

/*!sc*/
.lhzDRj {
    position: relative;
    padding: 15px 0;
}

/*!sc*/
data-styled.g444[id="sc-bwGlVi"] {
    content: "lhzDRj,"
}

/*!sc*/
.hGTdND {
    position: absolute;
    top: -20px;
}

/*!sc*/
data-styled.g445[id="sc-ivgJuh"] {
    content: "hGTdND,"
}

/*!sc*/
.edZpwv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #007A48;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 28px;
    padding: 0 5px;
    position: relative;
}

/*!sc*/
.edZpwv>svg {
    width: 18px;
    height: 22px;
    fill: #FFA500;
    stroke: #FFA500;
}

/*!sc*/
.edZpwv.edZpwv>div {
    color: #fff;
}

/*!sc*/
.edZpwv.edZpwv>div>span {
    color: #fff;
    font-weight: bold;
}

/*!sc*/
.edZpwv::before {
    content: "";
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #007A48;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 20px;
    left: 10px;
}

/*!sc*/
data-styled.g446[id="sc-fnLEGM"] {
    content: "edZpwv,"
}

/*!sc*/
.AIeyP>div:nth-child(2) {
    margin: 5px 0 30px 0;
}

/*!sc*/
@media (max-width:767px) {
    .AIeyP>div:nth-child(2) {
        margin: 5px 0 50px 0;
    }
}

/*!sc*/
data-styled.g447[id="sc-kSRfVL"] {
    content: "AIeyP,"
}

/*!sc*/
.kDmfzt {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    border-top: 1px dashed #888888;
    border-left: 1px dashed #888888;
    border-bottom: 1px dashed #888888;
    border-radius: 5px 0 0 5px;
}

/*!sc*/
data-styled.g450[id="sc-nfKuY"] {
    content: "kDmfzt,"
}

/*!sc*/
.fifGvs {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 0 5px 5px 0;
    word-break: break-word;
}

/*!sc*/
data-styled.g451[id="sc-gytJtb"] {
    content: "fifGvs,"
}

/*!sc*/
.fmXnJf {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*!sc*/
data-styled.g452[id="sc-dqYEFG"] {
    content: "fmXnJf,"
}

/*!sc*/

.css-vubbuv {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}